@model List<BotMakerPlatform.Web.Areas.StoreBot.Record.StoreSubscriber>

@{
    ViewBag.Title = "Store bot - Home";
}


@Html.ActionLink("Settings", "Settings", "Home")

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscriber in Model)
        {
            <tr>
                <th scope="row">@(Model.IndexOf(subscriber) + 1)</th>
                <td>@subscriber.Name</td>
                <td>
                    @if (subscriber.IsAdmin)
                    {
                        using (Html.BeginForm("RemoveAdmin", "Home", new { subscriber.ChatId }))
                        {
                            <button>Remove Admin</button>
                            <text>✅</text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("MakeAdmin", "Home", new { subscriber.ChatId }))
                        {
                            <button>Make Admin</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
