@using BotMakerPlatform.Web;

@model List<IBotDefinition>

@{
    ViewBag.Title = "Home";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var botDefinition in Model)
        {
            <tr>
                <th scope="row">@(Model.IndexOf(botDefinition) + 1)</th>
                <td><a href="@Url.Action("Index", "Bots", new { uniquename = botDefinition.UniqueName })">@botDefinition.UniqueName</a></td>
                <td>@botDefinition.Description</td>
            </tr>
        }
    </tbody>
</table>