@using BotMakerPlatform.Web.Areas.SupportBot
@model List<Subscriber>

@{
    ViewBag.Title = "SupportBot - Home";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subscriber in Model)
    {
        <tr>
            <th scope="row">@(Model.IndexOf(subscriber) + 1)</th>
            <td>@subscriber.Username</td>
            <td>
                @if (ConnectionManager.Instance.IsSupporter(subscriber))
                {
                    <text>✅</text>

                    using (Html.BeginForm("RemoveAdmin", "Home", new { subscriber.ChatId }))
                    {
                        <button>Remove Admin</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("MakeAdmin", "Home", new { subscriber.ChatId }))
                    {
                        <button>Make Admin</button>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>
