@model List<BotMakerPlatform.Web.Areas.SupportBot.Models.SubscriberViewModel>

@{
    ViewBag.Title = "SupportBot - Home";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Is Supporter</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subscriber in Model)
    {
        <tr>
            <th scope="row">@(Model.IndexOf(subscriber) + 1)</th>
            <td>@subscriber.Username</td>
            <td>
                @if (subscriber.IsSupporter)
                {
                    <text>✅</text>

                    using (Html.BeginForm("RemoveSupporter", "Home", new { subscriber.ChatId }))
                    {
                        <button>Remove Supporter</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("MakeSupporter", "Home", new { subscriber.ChatId }))
                    {
                        <button>Make Supporter</button>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>
